body {
  font-family: 'Times New Roman', Times, serif;
  background-color: red;
  margin: 3rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 100vh;
}

main {
  text-align: center;
}

h2 {
  margin: 20px;
  color: white;
  font-size: 24px;
  font-family: 'Comic Sans MS', 'Comic Sans', cursive;
  letter-spacing: 0.1rem;
}

h4 {
  color: white;
  font-family: 'Comic Sans MS', 'Comic Sans', cursive;
  letter-spacing: 0.1rem;
}

.calendar-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  gap: 2px;
  padding: 10px;
  max-width: 800px;
  margin: 0 auto;
  background-color: tomato;
  border-radius: 20px;
}

.calendar-box {
  background-color: #ff0000;
  color: white;
  font-size: 2rem;
  text-align: left;
  padding: 2px;
  border: 1px dashed black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar-box * {
  padding: 0.2rem 0;
}

.calendar-box p {
  margin: 0;
  text-align: center;
}


